<section data-aos="fade-up" data-aos-duration="1000">
    <div class="arrow arrow--top">

        <svg xmlns="http://www.w3.org/2000/svg" width="270.11" height="649.9" overflow="visible">
            <style>
                .geo-arrow {
                    fill: none;
                    stroke: rgb(0, 0, 0);
                    stroke-width: 2;
                    stroke-miterlimit: 10
                }
            </style>
            <g class="item-to bounce-1">
                <path class="geo-arrow draw-in" d="M135.06 142.564L267.995 275.5 135.06 408.434 2.125 275.499z" />
            </g>

            <g class="geo-arrow item-to bounce-2">
                <path class="st0 draw-in" d="M181.21 619.5l13.27 27 13.27-27zM194.48 644.5v-552" />
            </g>
        </svg>
    </div>

    <div class="arrow arrow--bottom">
        <svg xmlns="http://www.w3.org/2000/svg" width="31.35" height="649.9" overflow="visible">
            <style>
                .geo-arrow {
                    fill: none;
                    stroke: rgb(0, 0, 0);
                    stroke-width: 3;
                    stroke-miterlimit: 10
                }
            </style>
            <g class="item-to bounce-1">
                <circle class="geo-arrow item-to bounce-3" cx="15.5" cy="580.36" r="7.96" />
                <circle class="geo-arrow draw-in" cx="15.5" cy="610.4" r="7.96" />
                <circle class="geo-arrow item-to bounce-2" cx="15.5" cy="640.44" r="7.96" />
                <g class="item-to bounce-2">
                    <path class="geo-arrow draw-in" d="M28.94 30.4l-13.26-27-13.27 27zM15.68 5.4v552" />
                </g>
            </g>
        </svg>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="card-body">
                    <div class="col-12 col-md-6 ">
                        <a [routerLink]="['../']" class="back">
                            <img class="arrowback" width="50px" src="../../../assets/images/down.gif" />
                            <h5 class="card-title">Back</h5>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 ">
                    <img class="imagen" [src]="proyecto.imagen">
                </div>
                <div class="col-6">
                    <h1>{{proyecto.titulo}}</h1>
                    <h2>{{proyecto.sub}}</h2>
                    <p>{{proyecto.texto}}
                    <div class="recursos">
                        <img [src]="proyecto.recursos" alt="">
                        <img [src]="proyecto.recursos2" alt="">
                        <img [src]="proyecto.recursos3" alt="">
                    </div>

                    <div class="card-body">
                        <a href="{{proyecto.url}}" target="_blank">
                            <h5 class="card-title">Proyecto</h5>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>