<section>
    <div class="container" class="container" data-aos="fade-up" data-aos-duration="3000">
        <div class="row">
            <div class="col-12 col-md-6 about">
                <h2>Maquetación Web</h2>
                <div class="linea" id="crece"></div>
                <select class="form-select mt-3" aria-label="Default select example" (change)="onChange($event)"
                (click)="goDown($event)">
                <option value="todos">Todos</option>
                <option value="Wordpress">Wordpress</option>
                <option value="Html & Css">Html & Css</option>
                <option value="Animate">Animate</option>
            </select>
            </div>
            <div class="col-12 col-md-6 about">
            </div>
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                
                    <div class="col" *ngFor="let web of webs">
                        <div class="card h-100 overlay-slide img mb-3 ">
                       <img [src]="web.imagen"[ngClass]="{'defecto': web.imagen === ''}"  alt="">
                         
                            <div class="card-body">
                                <a href=""  [routerLink]="['/web', web.id]" ><h5 class="card-title">{{web.titulo}}</h5></a>
                                <span class="imagenmini">
                                    <img class="recurso"
                                    [src]="web.recursos" [ngClass]="{'ocultar': web.recursos === ''}" 
                                    alt="{{web.titulo}}">
                                    <img class="recurso"
                                    [src]="web.recursos2"[ngClass]="{'ocultar': web.recursos2 === ''}" 
                                    alt="{{web.titulo}}">
                                    <img class="recurso"
                                    [src]="web.recursos3" [ngClass]="{'ocultar': web.recursos3 === ''}"
                                    alt="{{web.titulo}}">
                                </span>
                            </div>
                        </div>

           
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container" *ngIf="this.down === true">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <a href="#grafico"><img class="arrowDown" width="50px" src="../../../assets/images/down.gif" /></a>
            </div>
        </div>
    </div>
</section>