section{
  margin-bottom: 10%;
}

h2{
  font-family: 'ocr_a_extendedregular';
  font-size: 5em;
  color: #e74c3c
}


.linea {

  width: 100px;
  height: 5px;
  background-color: #000000;
  -webkit-transition: width .5s, background-color 1s;
  -moz-transition: width .5s, background-color 1s;
  -o-transition: width .5s, background-color 1s;
  transition: width .5s, background-color 1s;

}
.filtros{
  display: flex;

}
.filtros .form-check{
  margin-left: 5%;
}
.ocultar{
  display: none;
}
.defecto{
  width: 100%;
  height: 300px;
  background-position: center;
  background-image: url('https://cdn.pixabay.com/photo/2017/06/15/11/49/question-mark-2405202_960_720.png');

}
#crece {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.container:hover .linea {
  width: 350px;

}

.overlay-fade,
.overlay-slide {
position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.overlay-slide img{
  width: 100%;
  height: auto;


}

.overlay-slide:hover div {
  transform: translate(0, 0);

}
.overlay-slide div {
position: absolute;
  width: 100%;
  bottom: 0;
  transform: translate(0, 100%);
  background-color: white;
  border-top: 1px solid black;
  text-align:center;
  transition: all 0.2s ease-in;
}
.card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body h5{
  color: rgb(0, 0, 0);
  font-family: 'ocr_a_extendedregular';
  cursor: pointer;
}
.card-body .recurso{
max-width: 30px;
max-height: 30px;


}

.card {

  border: none!important;
  border-radius: 0px!important;
  cursor: pointer;
}


.doble{
  display: flex;
  align-items: center;
  justify-content:start;
}
.doble img{
  width: 50px;
  height: 50px;
}

/* Efecto text*/
.card-body {
  color: rgb(0, 0, 0); 
  border-color: rgba(0, 0, 0, 0); 
}
.card-body .card-body:focus {

-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); 
}
.card-body:focus {

  outline: 0;
  box-shadow:none;
}
.card-body a{
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: rgb(0, 0, 0); 

}

 .card-body a:hover,.card-body a:focus {
  background-size: 100% 2px;
}
.arrowDown {
 filter: brightness(1.1);
 mix-blend-mode: multiply; 
}


/* Filter */

.form-select {

  font-family: 'ocr_a_extendedregular';
  color: #e74c3c;
  background-image: url("https://img.icons8.com/material-rounded/24/000000/filter.png")!important;
  width: 30%;    
  background-size: 20px 20px;
  background-position: left -.31rem center;

}

.form-select, .form-select:focus {
  border-color:rgba(255, 255, 255, 0)!important;
  outline: 0!important;
  box-shadow:none!important;
}


@media (max-width: 600px) {
  h2{
   
    font-size: 3em;

  }
}
@media (max-width: 768px) {
  h2{
   
    font-size: 4em;

  }
  .filtros{
    margin: 5% auto;
    text-align: center!important;
  }
}