<section>

    <div class="container"
    (click)="goDown($event)"
   >
        <div class="row" >
            <div class="col-12 col-md-6 about" data-aos="fade-down" data-aos-duration="1000">
                <h2>Sobre mí</h2>
                <div class="linea" id="crece"></div>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                               FullStack Jr.
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                          
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/mongodb.png" />
                                    <h5>Mongo</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/windows/32/000000/js-squared.png" />
                                    <h5>Express</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/angularjs.png" />
                                    <h5>Angular</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/windows/32/000000/node-js.png" />
                                    <h5>Node.js</h5>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Maquetación Web
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/html-5--v1.png" />
                                    <h5>HTML5</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/css3.png" />
                                    <h5>CSS3</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/javascript--v1.png"/>
                                    <h5>JavaScript</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/wordpress.png"/>
                                    <h5>Wordpress</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/drupal.png"/>
                                    <h5>Drupal</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseThree">
                                Diseño Gráfico  
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/adobe-photoshop--v1.png" />
                                    <h5>Photoshop</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/adobe-illustrator--v1.png" />
                                    <h5>Illustrator</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/adobe-indesign--v1.png" />
                                    <h5>indesign</h5>
                                </div>
                                <div class="doble">
                                    <img src="https://img.icons8.com/color/48/000000/adobe-xd--v1.png" />
                                    <h5>Adobe XD</h5>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-12 col-md-6 about">
                <p>David Del Pozo Fullstack Junior , Diseñador Gráfico, Maquetador Web. Mientras trabajaba en diferentes departamentos de administración me gradué en Publicidad y Relaciones Públicas, donde decidí que el mundo del desarrollo web me apasionaba y decidí adentrarme un poco más, por eso realicé el Máster de Diseño Gráfico/Web. Con el fin se seguir creciendo, este último trimestre he cursado un Bootcamp con el stack tecnológico MEAN (Mongo, Express, Angular, Node), para poder comprender todos los procesos de un entorno web.

                 
                    
                    </p>
                    <p>
                        Estoy acostumbrado a trabajar con las siguientes tecnologías:
                        Html, Css, Sass, Bootstrap, Bulma, JavaScript, Angular, Node.js, Express, MySQL y MongoDb.
                    </p>

                <div class="boton" style="margin:auto">
                    <a target="_blank" class="noselect" href="https://drive.google.com/file/d/15yATbGetzPIL3G7h9CYU8dkS02rhh017/view?usp=sharing">Curriculum</a>
                  
                </div>

            </div>
        </div>
    </div>
    <div class="container" *ngIf="this.down === true">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <a href="#fullstack"><img class="arrowDown" width="50px" src="../../../assets/images/down.gif" /></a>
            </div>
        </div>
    </div>
</section>