<section>
    <div class="container" data-aos="fade-left" data-aos-duration="3000">
        <div class="row">
            <div class="col-12 col-md-6 about" style="text-align:end;">
            </div>
            <div class="col-12 col-md-6 about" style="text-align:end;">
                <h2>Diseño gráfico</h2>
                <div class="linea" id="crece"></div>
            </div>
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                    <div class="col" *ngFor="let grafico of graficos">
                        <div class="card h-100 overlay-slide img mb-3 "  >
                       <img [src]="grafico.imagen"[ngClass]="{'defecto': grafico.imagen === ''}"  alt="">
                         
                            <div class="card-body">
                                <a href="{{grafico.texto}}" target="_blank" ><h5 class="card-title">{{grafico.titulo}}</h5></a>
                                <span class="imagenmini">
                                    <img class="recurso"
                                    [src]="grafico.recursos" [ngClass]="{'ocultar': grafico.recursos === ''}" 
                                    alt="{{grafico.titulo}}">
                                    <img class="recurso"
                                    [src]="grafico.recursos2"[ngClass]="{'ocultar': grafico.recursos2 === ''}" 
                                    alt="{{grafico.titulo}}">
                                    <img class="recurso"
                                    [src]="grafico.recursos3" [ngClass]="{'ocultar': grafico.recursos3 === ''}"
                                    alt="{{grafico.titulo}}">
                                </span>
                            </div>
                        </div>

           
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>